# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
node_modules
/phovea_server
phovea_server
phovea_core
/phovea_core
phovea_ui
/phovea_ui
/data
data
/_data
_data

# testing
/coverage

# production
/build
.ipynb_checkpoints

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

