# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
node_modules
/phovea_server
phovea_server
phovea_core
phovea_ui

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

