.sidebarDiv {
    display: block;
    width: 230px;
}

.aggDiv {
    display: block;
    width: 90px;
}

.checkDiv div {
    display: block;
    // width: 70px;
}

.descriptionDiv,
.orderDiv,
.scoreDiv,
{
    display: block;
    width: 220px;
    border: .5px solid #212F3D;
    border-radius: 2px;
    margin: 5px;
}

.scoreDiv {
    margin-top: 20px;
}

.orderDiv form {
    padding: 3px;
}

.countPromis {
    padding-left: 3px;
}

.aggDiv {
    padding-left: 3px;
}

.desc-box {
    padding: 3px;
}

.filter_stage_svg {
    height: 20px;
    width: 200px;
}

.divLabel text {
    font-size: 11px;
    color: white;
}

.divLabel {
    height: 20px;
    width: 100%;
    border: .5px solid #D5D8DC;
    border-radius: 2px;
    // background-color: #455A64;
    background-color: #212F3D;
    padding-left: 4px;
}

.label-warning {
    color: white;
    padding: 4px;
}

.surgery {
    fill: #E64A19;
}

.PT {
    fill: #8BC34A;
}

.injection {
    fill: yellow;
}