.sidebarDiv {
    display: block;
    width: 200px;
}

.aggDiv {
    display: block;
    width: 90px;
}

.checkDiv div {
    display: block;
    // width: 70px;
}

.descriptionDiv,
.orderDiv,
.scoreDiv,
{
    display: block;
    width: 200px;
    border: .5px solid #212F3D;
    border-radius: 2px;
    margin: 5px;
}

.filter_stage_svg {
    height: 20px;
    width: 200px;
}

.divLabel text {
    font-size: 11px;
    color: #212F3D;
}

.divLabel {
    height: 20px;
    width: 100%;
    border: .5px solid #D5D8DC;
    border-radius: 2px;
    background-color: #D5D8DC;
    padding-left: 4px;
}