.bar rect {
    fill: #D0A016;
    opacity: .3;
}

.barALL rect {
    fill: #BCAAE7;
    opacity: .5;
}

.displayedRect {
    fill: #4e6498 !important;
}

.selectedRect {
    fill: darkred !important;
}

.distribution {
    width: 160;
    display: inline-block;
}

.distributionDiv {
    width: 160px;
    display: inline-block;
}