.bar rect {
    fill: #352F43;
    opacity: .3;
}

.barALL rect {
    fill: #BCAAE7;
    opacity: .3;
}

.displayedRect {
    fill: #4e6498 !important;
}

.selectedRect {
    fill: darkred !important;
}