#layerDiv .panel {
    width: 400px;
    display: inline-block;
}

.event_line_view {
    display: inline-block;
    // margin-top: 15px;
    // height: 100px;
    width: 100%;
    padding-left: 80px;
    padding-top: 10px;
}

.accent {
    color: #b5c0d1;
    opacity: .8;
    font-size: 9px;
}

.branch_bound {
    fill: #ffff;
    stroke-width: 1px;
    stroke: blue;
}

.checkDiv div {
    display: block;
    padding-top: 10px;
}

.container {
    // display: block;
    position: relative;
    // padding-left: 35px;
    // margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ticks {
    font: 10px sans-serif;
}

.track,
.track-inset,
.track-overlay {
    stroke-linecap: round;
}

.track {
    stroke: #000;
    stroke-opacity: 0.3;
    stroke-width: 10px;
}

.track-inset {
    stroke: #ddd;
    stroke-width: 8px;
}

.track-overlay {
    pointer-events: stroke;
    stroke-width: 50px;
    stroke: transparent;
    cursor: crosshair;
}

.handle {
    fill: #fff;
    stroke: #000;
    stroke-opacity: 0.5;
    stroke-width: 1.25px;
}


/* Hide the browser's default checkbox */

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}


/* On mouse-over, add a grey background color */

.container:hover input~.checkmark {
    background-color: #ccc;
}


/* When the checkbox is checked, add a blue background */

.container input:checked~.checkmark {
    background-color: #2196F3;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.container input:checked~.checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.event_label {
    height: 20px;
    width: 80px;
}

.event_label rect {
    height: 24px;
    width: 80px;
    fill: rgb(135, 191, 248);
}

.event_label text {
    font-size: 10px;
    // fill: white;
}

.selected-event rect {
    fill: #E67E22;
    opacity: .8;
}

#eventButtonDiv {
    width: 700px;
    // height: 25px;
    display: inline;
    float: left;
}

#eventButtonDiv div {
    display: inline;
    float: left;
    margin-right: 2px;
    // padding-top: 5px;
    margin-top: 0px;
}

#eventButtonDiv div div button {
    margin-top: 0px;
}

.branch-wrapper {
    display: inline-block;
    margin-top: 5px;
}

.branch-wrapper svg {
    width: 500px;
    //  min-height: 50px;
}

.events circle,
.branch-events circle {
    fill: #808B96;
}

.choice :hover {
    cursor: pointer;
}

.node-links {
    fill: none;
    stroke: #808B96;
    stroke-width: 1px;
}

.selected-group circle {
    fill: #E67E22;
}

.selected text {
    color: #E67E22;
}

.selected rect {
    color: #808B96;
}

.labels text:hover,
.b-labels text:hover {
    fill: #E67E22;
    cursor: pointer;
}