.event_line_view {
    display: inline-block;
    margin-top: 25px;
    height: 60px;
    width: 100%;
}

.accent {
    color: #b5c0d1;
    opacity: .8;
    font-size: 9px;
}

.event_circle {
    fill: grey;
}

.selected_circle {
    fill: red;
}

.event_label {
    height: 20px;
    width: 80px;
}

.event_label rect {
    height: 20px;
    width: 80px;
    border: .5px solid #D5D8DC;
    border-radius: 2px;
    fill: #D5D8DC;
}

.event_label text {
    font-size: 9px;
    //alignment-baseline : middle;
    //text-anchor: middle;
}