.patBox {
    background-color: aliceblue;
    width: 250px;
    min-height: 300px;
    display: inline-block;
    padding: 15px;
    vertical-align: top;
}

.patLabel {
    font-size: 15px;
}

.patientCPTOrders {
    display: inline-block;
    float: left;
    width: 650px;
    padding-top: 60px;
}

.patientCPTOrders svg {
    width: 100%;
}

.cpt-rect {
    fill: #212F3D;
    opacity: .2;
}

.rect_group {
    width: 700px;
}

.selected-cpt {
    fill: red;
}

.surgery {
    fill: #E64A19;
    opacity: .7;
}

.PT {
    fill: #00FA9A;
    opacity: .7;
}

.injection {
    fill: yellow;
    opacity: .7;
}

.patInnerGroup {
    display: inline-block;
    position: relative;
}