.patBox {
    background-color: aliceblue;
    width: 250px;
    min-height: 300px;
    display: inline-block;
    padding: 15px;
    vertical-align: top;
}

.patLabel {
    font-size: 15px;
}

.patientCPTOrders {
    display: inline-block;
    float: left;
    width: 800px;
}

.cpt-rect {
    fill: #212F3D;
    opacity: .4;
}

.selected-cpt {
    fill: red;
}

.surgery {
    fill: maroon;
}

.PT {
    fill: blue;
}

.injection {
    fill: aquamarine;
}