#app {
    /*width: 3200px;*/
}

#caleydoHeader {
    width: 100%;
    position: fixed;
    z-index: 100000;
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 5px;
    font: 12px sans-serif;
    background: #ddd;
    border: 0;
    border-radius: 8px;
    pointer-events: none;
}

.main {
    float: left;
    padding-left: 1%;
    padding-right: 1%;
    width: 55%;
    margin-top: 50px;
}

.sideBar {
    float: left;
    width: 15%;
    padding: 10px;
    margin-top: 40px;
}

.stat_sidebar_view {
    display: inline-block;
    float: left;
    width: 15%;
    height: 100%;
    margin-top: 40px;
    border: .5px solid rgb(121, 107, 107);
    border-radius: 2px;
}

.label {
    line-height: 20px;
    top: 38px;
    transform: scale(0.75) translate(0px, -28px);
    transform-origin: left top 0px;
    pointer-events: none;
    user-select: none;
    color: rgba(0, 0, 0, 0.3)
}

.axis line,
.axis path {
    fill: none;
    stroke: #ccc;
    stroke-width: 1px;
}

.background path {
    fill: none;
    stroke: #ddd;
    stroke-opacity: .5;
}

.foreground path {
    fill: none;
    stroke: steelblue;
}

.reject {
    stroke: gainsboro;
    stroke-opacity: .2;
}

.GENDER {
    stroke: #873600;
    // stroke-opacity: .2;
}

.TOBACCO {
    stroke: #1B4F72;
    //  stroke-opacity: .5;
}

.ALCOHOL {
    stroke: #633974;
    //  stroke-opacity: .5;
}

.DRUG_USER {
    stroke: #1D8348;
    // stroke-opacity: .3;
}

.MARITAL_STATUS {
    stroke: #7D6608;
    // stroke-opacity: .3;
}

.RACE {
    stroke: #7D6608;
    // stroke-opacity: .3;
}

.parent {
    fill: 'red';
}

.context {
    stroke: lightblue;
    stroke-opacity: .1;
}

.anesthesia {
    fill: cadetblue;
    opacity: .3;
}

.chiropractor {
    fill: orange;
    opacity: .3;
}

.biopsy {
    fill: orange;
    opacity: .3;
}

.ecg_ekg,
.emg,
.evaluation,
.electrical_stimulation,
.echocardiography {
    fill: #1B4F72;
    opacity: .3;
}

.gynecologic {
    fill: pink;
    opacity: .3;
}

.injection {
    fill: green;
    opacity: .3;
}

.medicine,
.mammography {
    fill: brown;
    opacity: .3;
}

.nerve_conduction {
    fill: blueviolet;
    opacity: .3;
}

.oncology {
    fill: greenyellow;
    opacity: .3;
}

.opthalmology,
.other {
    fill: green;
    opacity: .3;
}

.physical_therapy,
.pulmonary,
.postoperative_visit,
.pathology_lab {
    fill: yellow;
    opacity: .3;
}

.radiology {
    fill: plum;
    opacity: .3;
}

.surgery,
.SLP {
    fill: red;
    opacity: .3;
}

.vaccine {
    fill: violet;
    opacity: .3;
}

.unselectedOrder {
    opacity: 0.2;
    fill: grey;
    //!important;
}

.selectedOrder {
    opacity: 0.8;
    fill: red;
}