#app {
    /*width: 3200px;*/
    height: 100%;
    width: 100%;
    // position: fixed;
    margin: 0px;
    padding: 0px;
}

#caleydoHeader {
    width: 100%;
    position: fixed;
    z-index: 100000;
}

.btn {
    // margin: 1px;
    //  padding: 3px;
}

.btn-primary {
    //  background: #A9CCE3;
    opacity: .6;
}

.panel-body {
    padding: 10px;
}

.cohort-buttons {
    display: inline;
    padding-left: 20px;
    padding-top: 5px;
}

.plot_head {
    display: inline-block;
    height: 30px;
    width: 60px;
    float: left;
}

.plot_toggle {
    display: inline-block;
    height: 30px;
    width: 120px;
    float: left;
}

.header_x {
    display: inline-block;
    height: 30px;
    width: 50px;
    float: right;
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 5px;
    font: 12px sans-serif;
    background: #ddd;
    border: 0;
    border-radius: 8px;
    pointer-events: none;
}

.main {
    float: left;
    padding-left: 1%;
    padding-right: 1%;
    width: 50%;
    margin-top: 50px;
    display: inline-block;
}

.panel-default div.selected_Plot {
    background-color: rgb(152, 187, 223);
}

.stat_sidebar_view {
    display: inline-block;
    float: left;
    width: 15%;
    height: 100%;
    margin-top: 40px;
}

.label {
    line-height: 20px;
    top: 38px;
    transform: scale(0.75) translate(0px, -28px);
    transform-origin: left top 0px;
    pointer-events: none;
    user-select: none;
    color: rgba(0, 0, 0, 0.3)
}

.axis line,
.axis path {
    fill: none;
    stroke: #ccc;
    stroke-width: 1px;
}

.background path {
    fill: none;
    stroke: #ddd;
    stroke-opacity: .5;
}

.foreground path {
    fill: none;
    stroke: steelblue;
}

.reject {
    stroke: gainsboro;
    stroke-opacity: .2;
}

.parent {
    fill: 'red';
}

.context {
    stroke: lightblue;
    stroke-opacity: .1;
}

.anesthesia {
    fill: cadetblue;
    opacity: .3;
}

.chiropractor {
    fill: orange;
    opacity: .3;
}

.biopsy {
    fill: orange;
    opacity: .3;
}

.ecg_ekg,
.emg,
.evaluation,
.electrical_stimulation,
.echocardiography {
    fill: #1B4F72;
    opacity: .3;
}

.gynecologic {
    fill: pink;
    opacity: .3;
}

.injection {
    fill: green;
    opacity: .3;
}

.medicine,
.mammography {
    fill: brown;
    opacity: .3;
}

.nerve_conduction {
    fill: blueviolet;
    opacity: .3;
}

.oncology {
    fill: greenyellow;
    opacity: .3;
}

.opthalmology,
.other {
    fill: green;
    opacity: .3;
}

.physical_therapy,
.pulmonary,
.postoperative_visit,
.pathology_lab {
    fill: yellow;
    opacity: .3;
}

.radiology {
    fill: plum;
    opacity: .3;
}

.surgery,
.SLP {
    fill: red;
    opacity: .3;
}

.vaccine {
    fill: violet;
    opacity: .3;
}

.unselectedOrder {
    opacity: 0.2;
    fill: grey;
    //!important;
}

.selectedOrder {
    opacity: 0.8;
    fill: red;
}