.day_line {
    height: 60px;
    width: 700px;
    display: inline-block;
}

.day_line_svg {
    height: 50px;
    width: 700px;
}

.day_line text {
    font-size: 9px;
}

#eventLabel {
    padding-right: 10px;
}

.allDiagramDiv {
    // clear: left;
    width: 700px;
    // height: 500px;
    float: left;
}

//container div for the line graph?
.diagramDiv {
    float: left;
    padding-right: 50px;
    width: 700px;
    height: 410px;
}

.event-buttons {
    // padding-left: 80px;
}

.scoreLine {
    fill: none;
    stroke: #212F3D;
}

.medLine {
    fill: none;
    stroke: #212F3D;
    stroke-width: 2px;
}

.avLine_all {
    stroke: #212F3D;
    stroke-width: 2px;
    fill: none;
}

.avLine_top {
    stroke: #2874A6;
    stroke-width: 3px;
    fill: none;
}

.avLine_middle {
    stroke: #F7DC6F;
    stroke-width: 3px;
    fill: none;
}

.avLine_bottom {
    stroke: #fc8d59;
    stroke-width: 3px;
    fill: none;
}

.stLine_all {
    stroke: #212F3D;
    stroke-width: 1px;
    fill: none;
}

.stLine_top {
    stroke: #2874A6;
    stroke-width: 1px;
    fill: none;
}

.stLine_middle {
    stroke: #F7DC6F;
    stroke-width: 1px;
    fill: none;
}

.stLine_bottom {
    stroke: #fc8d59;
    stroke-width: 1px;
    fill: none;
}

.qLine_all {
    fill: #212F3D;
    opacity: .5;
}

.qLine_top {
    fill: #2874A6;
    opacity: .2;
}

.qLine_middle {
    fill: #F7DC6F;
    opacity: .2;
}

.qLine_bottom {
    fill: #fc8d59;
    opacity: .2;
}

.proLine {
    fill: none;
    stroke: #212F3D;
}

.voronoi {
    z-index: -100;
    position: relative;
    z-index: -100;
    position: relative;
    fill: none;
    // stroke-width: .5px;
    // stroke: #cbdcdf;
}

.voronoi g path {
    z-index: -100;
    position: relative;
    fill: none;
    //stroke-width: .5px;
    // stroke: #cbdcdf;
}

.lines {
    z-index: 1000;
    position: relative;
}

.top {
    fill: none;
    stroke: #2874A6;
}

.middle {
    fill: none;
    stroke: #F7DC6F;
}

.bottom {
    fill: none;
    stroke: #fc8d59;
}

.selected {
    stroke: #FF5733;
    stroke-width: 3px;
    fill: none;
}

.hover-selected {
    stroke: #FF5733;
    stroke-width: 3px;
    fill: none;
}

.grid line {
    stroke: #979797;
    stroke-opacity: 0.5; //adjusted the stroke opacity to the horizontal grid lines for more subtlety 
}


/* For slider */

.ticks {
    font: 10px sans-serif;
}

.track,
.track-inset,
.track-overlay {
    stroke-linecap: round;
}

.track {
    stroke: #000;
    stroke-opacity: 0.3;
    stroke-width: 10px;
}

.track-inset {
    stroke: #ddd;
    stroke-width: 8px;
}

.track-overlay {
    pointer-events: stroke;
    stroke-width: 50px;
    stroke: transparent;
    cursor: crosshair;
}

.handle {
    fill: #fff;
    stroke: #000;
    stroke-opacity: 0.5;
    stroke-width: 1.25px;
}