/*
.day_line {
    height: 60px;
    width: 700px;
    display: inline-block;
    z-index: 1000;
}

.day_line_svg {
    height: 50px;
    width: 700px;
    z-index: 1000;
}*/

.day_line text {
    font-size: 9px;
}

#eventLabel {
    padding-right: 10px;
}

.allDiagramDiv {
    // clear: left;
    width: 2000px;
    height: 600px;
    float: left;
    overflow-x: auto;
}

.allDiagramDiv .panel {
    display: inline-block;
    margin-right: 5px;
}

//container div for the line graph?
.diagramDiv {
    float: left;
    padding-right: 50px;
    width: 700px;
    height: 400px;
}

.timeline_view {
    display: inline-block;
    float: left;
}

.scoreLine {
    fill: none;
    stroke: #212F3D;
}

.medLine {
    fill: none;
    stroke: #212F3D;
    stroke-width: 2px;
}

.avLine.all {
    stroke: #212F3D;
    stroke-width: 3px;
    fill: none;
}

.avLine.top {
    stroke: #2874A6;
    stroke-width: 3px;
    fill: none;
}

.avLine.middle {
    stroke: #F7DC6F;
    stroke-width: 3px;
    fill: none;
}

.avLine.bottom {
    stroke: #fc8d59;
    stroke-width: 3px;
    fill: none;
}

.stLine.all {
    stroke: #212F3D;
    stroke-width: 1px;
    fill: none;
    opacity: .2;
}

.stLine.top {
    stroke: #2874A6;
    stroke-width: 1px;
    fill: none;
    opacity: .2;
}

.stLine.middle {
    stroke: #F7DC6F;
    stroke-width: 1px;
    fill: none;
    opacity: .2;
}

.stLine.bottom {
    stroke: #fc8d59;
    stroke-width: 1px;
    fill: none;
    opacity: .2;
}

.qLine.all {
    fill: #212F3D;
    opacity: .2;
}

.qLine.top {
    fill: #2874A6;
    opacity: .06;
}

.qLine.middle {
    fill: #F7DC6F;
    opacity: .06;
}

.qLine.bottom {
    fill: #fc8d59;
    opacity: .06;
}

.proLine {
    fill: none;
    stroke: #212F3D;
}

.voronoi {
    z-index: -100;
    position: relative;
    z-index: -100;
    position: relative;
    fill: none;
    // stroke-width: .5px;
    // stroke: #cbdcdf;
}

.voronoi g path {
    z-index: -100;
    position: relative;
    fill: none;
    //stroke-width: .5px;
    // stroke: #cbdcdf;
}

.lines {
    z-index: 1000;
    position: relative;
}

.layer-0 path.qLine.layer-0 {
    fill: #ff4e50;
    opacity: .06;
}

.layer-0 path.stLine.layer-0 {
    stroke: #ff4e50;
    fill: none;
    opacity: .5;
    stroke-width: 1px;
}

.layer-0 path.avLine.layer-0 {
    stroke: #ff4e50;
    fill: none;
    opacity: 1;
    stroke-width: 3px;
}

.layer-1 path.qLine.layer-1 {
    fill: #f9d62e;
    opacity: .06;
}

.layer-1 path.stLine.layer-1 {
    stroke: #f9d62e;
    fill: none;
    opacity: .5;
    stroke-width: 1px;
}

.layer-1 path.avLine.layer-1 {
    stroke: #f9d62e;
    fill: none;
    opacity: 1;
    stroke-width: 3px;
}

.layer-2 path.qLine.layer-2 {
    fill: #8ec127;
    opacity: .06;
}

.layer-2 path.stLine.layer-2 {
    stroke: #8ec127;
    fill: none;
    opacity: .5;
    stroke-width: 1px;
}

.layer-2 path.avLine.layer-2 {
    stroke: #8ec127;
    fill: none;
    opacity: 1;
    stroke-width: 3px;
}

.layer-3 path.qLine.layer-3 {
    fill: #83d0c9;
    opacity: .06;
}

.layer-3 path.stLine.layer-3 {
    stroke: #83d0c9;
    fill: none;
    opacity: .5;
    stroke-width: 1px;
}

.layer-3 path.avLine.layer-3 {
    stroke: #83d0c9;
    fill: none;
    opacity: 1;
    stroke-width: 3px;
}

.layer-0 path {
    fill: none;
    stroke: #ff4e50;
}

text.layer-0 {
    fill: #ff4e50;
}

path.qLine_layer-0 {
    fill: #ff4e50;
    opacity: .5;
}

.layer-1 path {
    fill: none;
    stroke: #f9d62e;
}

text.layer-1 {
    fill: #f9d62e;
}

path.qLine_layer-1 {
    fill: #f9d62e;
    opacity: .5;
}

.layer-2 path {
    fill: none;
    stroke: #8ec127;
}

text.layer-2 {
    fill: #8ec127;
}

path.qLine_layer-2 {
    fill: #8ec127;
    opacity: .5;
}

.layer-3 path {
    fill: none;
    stroke: #8ec127;
}

text.layer-3 {
    fill: #83d0c9;
}

path.qLine_layer-3 {
    fill: #83d0c9;
    opacity: .5;
}

.top {
    fill: none;
    stroke: #2874A6;
}

.middle {
    fill: none;
    stroke: #F7DC6F;
}

.bottom {
    fill: none;
    stroke: #fc8d59;
}

.selected {
    //  stroke: #FF5733;
    // stroke-width: 3px;
    //  fill: none;
}

.hover-selected {
    stroke: #FF5733;
    stroke-width: 3px;
    fill: none;
}

.grid line {
    stroke: #979797;
    stroke-opacity: 0.5; //adjusted the stroke opacity to the horizontal grid lines for more subtlety 
}


/* For slider */

.ticks {
    font: 10px sans-serif;
}

.track,
.track-inset,
.track-overlay {
    stroke-linecap: round;
}

.track {
    stroke: #000;
    stroke-opacity: 0.3;
    stroke-width: 10px;
}

.track-inset {
    stroke: #ddd;
    stroke-width: 8px;
}

.track-overlay {
    pointer-events: stroke;
    stroke-width: 50px;
    stroke: transparent;
    cursor: crosshair;
}

.handle {
    fill: #fff;
    stroke: #000;
    stroke-opacity: 0.5;
    stroke-width: 1.25px;
}