.cohort {
    width: 100%;
    height: 30px;
    background-color: #212F3C;
    padding: 5px;
    color: aliceblue;
}

.cohort-label {
    width: 100px;
    height: 30px;
    display: inline-block;
    margin: auto;
    // background-color: aquamarine;
}

.queryDiv {
    padding: 1em;
}

.queryDiv li {
    min-width: 15em;
    display: inline-block;
    cursor: pointer;
}

.queryDiv input {
    margin-left: 5px;
}

.queryDiv p {
    display: inline-block;
    margin-left: 5px;
}

label {
    margin-left: 8px;
}

.selected {
    color: #FF5722;
}