.PROCEDURE.COMPLETED {
  fill: red;
  opacity: 0.5;
}

.PROCEDURE.ORDERED {
   fill: orange;
  opacity: 0.5;
}

 .MEDICATION.ORDERED {
  fill: #4a6ffb;
  opacity: 0.5;
}

 .MEDICATION.SENT {
  fill: #4a6ffb;
  opacity: 0.5;
}

.MEDICATION.COMPLETED {
  fill: green;
  opacity: 0.5;
}


.MEDICATION.DISCONTINUED {
  fill: purple;
  opacity: 0.5;
}

.MEDICATION.SUSPEND {
  fill: purple;
  opacity: 0.5;
}

#pat_rect_line {
  float: left;
  padding-right: 100px;

}

.orderRectMini {
  opacity: 0.5;
  color: grey;
}

.xAxisMini {
  stroke-opacity: .4;
  stroke-width: .5;
}


.PROCEDURE.selectedOrder,
.MEDICATION.selectedOrder {
  fill: darkred;// !important;
}
.PROCEDURE.unselectedOrder,
.MEDICATION.unselectedOrder {
  opacity: 0.2;
  fill: grey;// !important;
}




