.orderRect .PROCEDURE {
  fill: #087b03;
  opacity: 0.5;
}

.orderRect .PROCEDURE {
  fill: #087b03;
  opacity: 0.5;
}

 .MEDICATION {
  fill: #4a6ffb;
  opacity: 0.5;
}

.orderRect .PROCEDURE .ORDERED {
   fill: black;
  opacity: 0.5;
}
