.allDiagramDiv {
    clear: left;
}

//container div for the line graph?
.diagramDiv {
    float: left;
    padding-right: 100px;
    //added max-height to div to move boxs closer together
    //min-height: 530px;
}

.scoreLine {
    fill: none;
    stroke: darkblue;
}

.scoreCircle {
    fill: darkred;
    stroke: none;
}

.patLine {
    fill: none;
    stroke: #FF5733;
    stroke-width: 2px;
}

.medLine {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

.proLine {
    fill: none;
    stroke: #21618C;
    // stroke-width: .5px; //changed the stoke of the similar lines to add more emphasis on the selected patient
    // stroke-opacity: 0.3;
}

.selected {
    stroke: #FF5733;
    stroke-width: 3px;
}

.grid line {
    stroke: #979797;
    stroke-opacity: 0.5; //adjusted the stroke opacity to the horizontal grid lines for more subtlety 
}


/* For slider */

.ticks {
    font: 10px sans-serif;
}

.track,
.track-inset,
.track-overlay {
    stroke-linecap: round;
}

.track {
    stroke: #000;
    stroke-opacity: 0.3;
    stroke-width: 10px;
}

.track-inset {
    stroke: #ddd;
    stroke-width: 8px;
}

.track-overlay {
    pointer-events: stroke;
    stroke-width: 50px;
    stroke: transparent;
    cursor: crosshair;
}

.handle {
    fill: #fff;
    stroke: #000;
    stroke-opacity: 0.5;
    stroke-width: 1.25px;
}

.patOrder .PROCEDURE {
    fill: #8d8d8d;
    stroke: #7b7b7b;
}

.patOrder .MEDICATION {
    fill: #ddd;
    stroke: #7b7b7b;
}

.selectedLine {
    stroke: #800000;
    stroke-dasharray: 5, 5;
}


/*
.selectedOrder {
  fill: darkred !important;
}

.unselectedOrder {
  opacity: 0.2;
  fill: grey;
}*/

.similarRect .PROCEDURE {
    //fill: #087b03;
    fill: #FF5733;
    opacity: 0.5;
}

.similarRect .MEDICATION {
    fill: #4a6ffb;
    opacity: 0.5;
}

.PROCEDURE.selectedOrder,
.MEDICATION.selectedOrder {
    // fill: darkred;// !important;
    opacity: .6;
}

.PROCEDURE.unselectedOrder,
.MEDICATION.unselectedOrder {
    opacity: 0.2;
    fill: grey; // !important;
}

.patRect .PROCEDURE {
    //fill: #087b03;
    fill: #0da201;
    opacity: 0.5;
}

.patRect .MEDICATION {
    fill: #c37e45;
    opacity: 0.5;
}

.patRect.PROCEDURE.COMPLETED {
    fill: red;
    opacity: 0.5;
}

.patRect.PROCEDURE.ORDERED {
    fill: orange;
    opacity: 0.5;
}

.MEDICATION.ORDERED,
.MEDICATION.SENT {
    fill: #4a6ffb;
    opacity: 0.5;
}

.MEDICATION.COMPLETED {
    fill: green;
    opacity: 0.5;
}

.MEDICATION.DISCONTINUED,
.MEDICATION.SUSPEND {
    fill: purple;
    opacity: 0.5;
}