.allDiagramDiv {
  clear: left;
}

.diagramDiv {
  float: left;
  padding-right: 100px;
}

.scoreLine {
  fill: none;
  stroke: darkblue;
}

.scoreCircle {
  fill: darkred;
  stroke: none;
}

.patLine {
  fill: none;
  stroke: forestgreen;
  stroke-width: 2px;
}

.medLine {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.proLine {
  fill: none;
  stroke: darkred;
  stroke-width: 2px;
}

.grid line {
  stroke: #979797;
}

/* For slider */

.ticks {
  font: 10px sans-serif;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #ddd;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: crosshair;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}
