.diagramDiv {
  float: left;
  padding-right: 100px;
}

.scoreLine {
  fill: none;
  stroke: darkblue;
}

.scoreCircle {
  fill: darkred;
  stroke: none;
}

.patLine {
  fill: none;
  stroke: forestgreen;
  stroke-width: 2px;
}

.medLine {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.proLine {
  fill: none;
  stroke: darkred;
  stroke-width: 2px;
}

.grid line {
  stroke: #979797;
}

/* For slider */

.slider-tray {
  position: absolute;
  width: 100%;
  height: 6px;
  border: solid 1px #ccc;
  border-top-color: #aaa;
  border-radius: 4px;
  background-color: #f0f0f0;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
}

.slider-handle {
  position: absolute;
  top: 3px;
}

.slider-handle-icon {
  width: 14px;
  height: 14px;
  border: solid 1px #aaa;
  position: absolute;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  top: -7px;
  left: -7px;
}
