#filterDiv {
    width: 250;
    border: .5px solid rgb(121, 107, 107);
    border-radius: 2px;
}

#cohortDiv {
    width: 250;
    min-height: 200;
    //  border: .5px solid rgb(121, 107, 107);
    //  border-radius: 2px;
}

#cohortKeeper {
    border: .5px solid rgb(121, 107, 107);
    border-radius: 2px;
}

.branch {
    height: 20px;
    width: 150px;
    padding-left: 20px;
    position: relative;
    display: inline-block;
}

.branch svg {
    height: 20px;
    width: 50px;
    padding-left: 10px;
}

.cohort {
    min-height: 30px;
    max-height: 100px;
}

.cohort-label {
    height: 20px;
    width: 100%;
    display: inline-block;
    margin: auto;
    padding-left: 2px;
    padding-top: 2px;
}

.sideBar ul {
    list-style-type: none;
    margin: 0;
    padding: 2px;
}

input {
    margin-top: 5px;
}

ul {
    min-height: 20px;
}

.labelWrapper {
    margin-top: 15px;
}

.distDetail_svg {
    height: 30px;
    width: 100%;
}

.distFilter svg {
    padding: 0px;
    margin: 0;
}

.distFilter_svg {
    height: 25px;
    width: 95%;
    margin: 0px;
}

.distFilter_svg text {
    font-size: 9px;
}

.miniLabel {
    height: 10px;
}

.miniLabel text {
    font-size: 11px;
    color: grey;
}

.eye {
    width: 20px;
    height: 15px;
}