.sideBar ul {
    list-style-type: none;
    margin: 0;
    padding: 2px;
}

input {
    margin-top: 5px;
}

ul {
    min-height: 20px;
}

.labelWrapper {
    margin-top: 15px;
}

.distDetail_svg {
    height: 30px;
    width: 100%;
}

.distFilter_svg {
    height: 50px;
    width: 100%;
}