
.cells {
  float: left;
  padding-bottom: 0.5em;
  //border: 1px solid steelblue;
  border:0px;
  width: 50px;
  height: 2em;
  font-size: small;
  padding-left: 2px;
}

.rows{
  padding-top: 1px;
  clear:left;
}

.cells:hover{
  background-color: lightgrey;
}

.header{
  padding-top: 5px;
}

.headercells{
  float: left;
  padding-bottom: 0.5em;
  border: 1px solid steelblue;
  width: 50px;
  height: 2em;
  font-weight: bold;
  background-color: aliceblue;
}

.superWideCell {
  width: 440px;
}

.wideCell {
  width: 220px;
}

.mediumCell {
  width: 100px;
}

.sameValue {
  background-color: transparent;
}

.lowerValue {
  background-color: lightblue;
}

.higherValue {
  background-color: #fca4a4;
}

h3 {
  display: block;
  margin-left: 1em;
  clear: both;
}

.tableDiv {
  padding-bottom: 1em;
}

.lineChart {
  fill: none;
  stroke: rgb(108, 2, 97);
  stroke-width: 2px;
}
