
.cells {
  float: left;
  display: inline-block; //added this to scale divs
  border-bottom: 1px solid steelblue;
  min-width: 70px;
  min-height: 2em;
  font-size: 11px; //changed from small sizing
  //padding: top, right, bottom, left
  padding: 0.25em 0.5em 0.5em 0.25em;
  word-wrap: break-word;  
}

.rows{
  padding-top: 1px;
  clear:left;
}

.cells:hover{
  background-color: lightgrey;
}

.header{
  padding-top: 5px;
}

.headercells{
  float: left;
  display: inline;
  //padding: top, right, bottom, left
  padding: 0.25em 0.5em 0.5em 0.25em;
  border-right: 1px solid steelblue;
  min-width: 80px;
  height: 2em;
  font-weight: bold;
  background-color: aliceblue;
}

//we can get rid of superWideCell
.superWideCell { 
  width: 220px;
}

.wideCell {
  min-width: 150px;
}

.mediumCell {
  min-width: 80px;
}

.sameValue {
  background-color: transparent;
}

.lowerValue {
  background-color: lightblue;
}

.higherValue {
  background-color: #fca4a4;
}

h3 {
  display: block;
  margin-left: 1em;
  clear: both;
}

.tableDiv {
  padding-bottom: 1em;
  min-width: 2000px;
  display: inline-block;
}

.lineChart {
  fill: none;
  stroke: rgb(108, 2, 97);
  stroke-width: 2px;
}
